[db]
db_engine = mongo
db_ip = 127.0.0.1 
db_port = 27017
db_name = soccer
news_table_name = news
processed_news_table_name = processed_news
image_table_name = image
match_table_name = match
jifen_table_name = jifen
shooter_table_name = shooter
lottery_table_name = lottery

[redis]
redis_ip = 127.0.0.1
redis_port = 6379
redis_db = 0
# 新闻列表缓存时间s秒
news_list_cache_ttl = 300
# 比赛数据缓存时间s秒
match_cache_ttl = 300
# 彩票数据缓存时间s秒
lottery_cache_ttl = 120

[image]
team_logo_width = 170
team_logo_height = 192

[server]
news_page_server = http://115.29.39.145/news_page
image_server = http://115.29.39.145/
